.game {
    width: 600px;
    height: 200px;
    border: 5px solid #000;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    background-color: #f7f7f7;
}

#dino {
    width: 40px;
    height: 40px;
    background-color: #333;
    position: absolute;
    bottom: 0;
    left: 50px;
}

.cactus {
    width: 20px;
    height: 40px;
    background-color: #2d572c;
    position: absolute;
    bottom: 0;
    right: 0;
}

.score {
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 20px;
    margin-top: 10px;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #141414;
    margin: 0;
    padding: 0;
    color: #ffffff;
    min-height: 100vh;
}

button {
    background-color: rgba(59, 59, 59, 0.644);
    color: white;
    border: 1px solid #ffffff;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px;
    position: fixed;
    bottom: 50px; /* Distância da parte inferior */
    left: 50%; /* Centraliza horizontalmente */
    transform: translateX(-50%); /* Ajusta para o centro exato */
    padding: 10px 20px;
}

button:hover {
    background-color: #357abd;
}

button.reload-btn {
    background-color: rgba(59, 59, 59, 0.644);
    color: white;
    border: 1px solid #ffffff;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px;
    position: fixed;
    bottom: 100px; /* Distância da parte inferior */
    left: 50%; /* Centraliza horizontalmente */
    transform: translateX(-50%); /* Ajusta para o centro exato */
    padding: 10px 20px;
}

button:hover {
    background-color: #357abd;
}

h1 {
    color: #ffffff;
    margin-bottom: 100px;
    text-align: center;
    top: 50px;
}

.level {
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #666;
    margin-top: 5px;
}


@keyframes flap {
    from {
        transform: scaleY(1) rotate(-10deg);
    }
    to {
        transform: scaleY(0.8) rotate(10deg);
    }
}
